* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_pic {
	position: absolute;
	width: 433px;
	height: 433px;
	left: 167px;
	top: 88px;
	border: 10px solid #375AD6;
	border-radius: 100%;
	box-sizing: 0px 4px 5px 2px;
}

h2 {
	position: relative;
	/*width: 380px;
	height: 56px;
	left: 887px;
	top: 182px;*/
	font-family: Roboto;
	font-style: normal;
	/*font-weight: 500;*/
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 0.15em;

	background-color: #375AD6;
	color: #FFF;
	font-size: 48px;
	padding: 10px;
	margin-bottom: 20px;
	/*text-align: center;*/
	border: 0 solid #white;
}

.about {
	position: relative;

}

h1 {
	position: absolute;
	width: 512px;
	height: 42px;
	left: 178px;
	top: 548px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.15em;
	color: #16161D;
} 

.about1 {
	position: absolute;
	width: 154px;
	height: 42px;
	left: 326px;
	top: 594px;
	font-family: Roboto;
	font-style: normal;
	font-size: 24px;
	line-height: 42px;
	letter-spacing: 0.15em;
	color: #7C97FA;
}

.about2 {
	position: absolute;
	width: 488px;
	height: 56px;
	left: 159px;
	top: 659px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.15em
	color: #16161D;
}

.tagline_1 {
	position: absolute;
	width: 280px;
	height: 28px;
	left: 240px;
	bottom: 300px;
	top: 740px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 5px;
	letter-spacing: 0.15em;
	color: #FFFFFF;
	background-color: #375AD6;
	background-size: 15px;
	padding: 22px;
	/*margin-bottom: 20px;*/
	border: 0 solid #white;
	text-align: center;
}

.exp {
	position: relative;
	width: 450px;
	height: 413px;
	left: 851px;
	top: 165px;
	font-size: 40px;

}

.tagline_2 {
	padding: 30px;
}

.learning {
	padding: 20px;
}

.icons {
	width: 320px;
	height: 50px;
	left: 900px;
	margin-left: 600px;
}

.fa-facebook {
	padding: 20px;
}

.fa-twitter {
	padding: 40px;
}

.fa-linkedn {
	padding: 40px;
}